<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.bookstore.mapper.BookMapper">
    <update id="addSales">
        update sys_book
        set sales=sales + 1
        where id = #{bookId}
    </update>

    <update id="addView">
        update sys_book
        set view=view + 1
        where id = #{bookId}
    </update>


    <select id="getBookList" resultType="com.hu.bookstore.entity.Book">
        select id,
        name,
        author,
        type,
        press,
        original_price,
        discount,
        discount_price,
        ISBN,
        inventory,
        sales,
        picture_url,
        intro,
        commend,
        state,
        pub_date
        from sys_book
        <foreach collection="condition" item="value" index="key" separator="and" open="where">
            ${key} like ('%${value}%')
        </foreach>
        limit #{begin},#{size}

    </select>

    <select id="getBookListByTrolley" resultType="com.hu.bookstore.entity.Book">
        select sb.id,
               name,
               author,
               type,
               press,
               original_price,
               discount,
               discount_price,
               ISBN,
               inventory,
               sales,
               picture_url,
               intro,
               commend,
               state,
               pub_date
        from sys_goods sg
                 left join sys_book sb on sb.id = sg.book_id
        where trolley_id = #{trolleyId}
          and order_id is null


    </select>

    <select id="getBookListByOrder" resultType="com.hu.bookstore.entity.Book">
        select sb.id,
               name,
               author,
               type,
               press,
               original_price,
               discount,
               discount_price,
               ISBN,
               inventory,
               sales,
               picture_url,
               intro,
               commend,
               state,
               pub_date
        from sys_goods sg
                 left join sys_book sb on sb.id = sg.book_id
        where order_id = #{orderId}
    </select>
    <select id="getTotal" resultType="java.lang.Integer">
        select count(1) total
        from sys_book
        <foreach collection="condition" item="value" index="key" separator="and" open="where">
            ${key} like ('%${value}%')
        </foreach>
    </select>
    <select id="getSimilarBook" resultType="com.hu.bookstore.entity.Book">
        select id,
               name,
               author,
               type,
               pub_date,
               press,
               original_price,
               discount,
               discount_price,
               ISBN,
               view,
               inventory,
               picture_url,
               intro,
               sales,
               commend,
               state
        from sys_book
        where type like '%${type}%'
        limit 0,6
    </select>
    <select id="getNewBook" resultType="com.hu.bookstore.entity.Book">
        select id,
               name,
               author,
               type,
               pub_date,
               press,
               original_price,
               discount,
               discount_price,
               ISBN,
               view,
               inventory,
               picture_url,
               intro,
               sales,
               commend,
               state
        from sys_book
        order by pub_date desc
        limit 0,#{num}
    </select>
    <select id="getHotBook" resultType="com.hu.bookstore.entity.Book">
        select id,
               name,
               author,
               type,
               pub_date,
               press,
               original_price,
               discount,
               discount_price,
               ISBN,
               view,
               inventory,
               picture_url,
               intro,
               sales,
               commend,
               state
        from sys_book
        order by view desc
        limit 0,#{num}
    </select>
    <select id="getRecommendedBook" resultType="com.hu.bookstore.entity.Book">
        select id,
               name,
               author,
               type,
               pub_date,
               press,
               original_price,
               discount,
               discount_price,
               ISBN,
               view,
               inventory,
               picture_url,
               intro,
               sales,
               commend,
               state
        from sys_book
        where commend = 1
        order by view desc
        limit 0,#{num}
    </select>
    <select id="getBookByCart" resultType="com.hu.bookstore.vo.GoodsVO">
        select sys_goods.id as id,
               sb.id           bookId,
               name            bookName,
               author,
               press,
               discount_price  price,
               picture_url,
               count,
               checked
        from sys_goods
                 join sys_book sb on sb.id = sys_goods.book_id
        where sys_goods.trolley_id = #{id}
          AND sys_goods.order_id is null
    </select>
</mapper>
